<!DOCTYPE html> 
	<html xmlns:th="http://www.thymeleaf.org"> 
		<head> 
			<meta charset="UTF-8" /> 
			<title>Compras</title> 
			<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  /> 
		</head> 
	<body> 
		<div class="container"> 
		<a href="/">Volver</a>
			<table class="table">  
				<thead>   
					<tr>      
						<th scope="col">id</th>      
						<th scope="col">Fecha de la compra</th>      
						<th scope="col">Precio Unitario</th>      
						<th scope="col">Cantidad de Producto Pedido</th>      
						<th scope="col">Cantidad de Producto Recibido</th>   
					</tr>  
				</thead>  
					<tbody>   
						 <tr th:each="compra: ${compras}">      
							 <td th:text="${compra.id}"/>      
							 <td th:text="${compra.FechaCompra}" />      
							 <td th:text="${compra.PrecioUnitario}" />      
							 <td th:text="${compra.ProductoPedido}" /> 
							 <td th:text="${compra.ProductoRecibido}" />      
							    
							 <td> <a th:href="@{/compra/agregarcompra/} + ${compra.id}" th:text="'Editar'" class="btn btn-primary btn-xs" >
							 </a>
							 </td>      
							 <td> 
							 <a th:href="@{/compra/eliminar/} + ${compra.id}" th:text="'Eliminar'" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro?')" >
							 </a>
							 </td>   
						 </tr>  
					</tbody> 
			</table> 
		</div> 
	 
			<a th:href="@{/compra/agregarcompra}">Crear compra</a> 
	 
	</body> 
</html>