<!DOCTYPE html> 
	<html xmlns:th="http://www.thymeleaf.org"> 
		<head> 
			<meta charset="UTF-8" /> 
			<title>Detalle de Ventas</title> 
			<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  /> 
		</head> 
	<body> 
		<div class="container"> 
		<a href="/">Volver</a>
			<table class="table">  
				<thead>   
					<tr>      
						<th scope="col">Id</th>      
						<th scope="col">Cantidad</th>      
						<th scope="col">Descuento</th>
					</tr>  
				</thead>  
					<tbody>   
						 <tr th:each="detalleventa: ${detalleventas}">      
							 <td th:text="${detalleventa.id}"/>      
							 <td th:text="${detalleventa.Cantidad}" />      
							 <td th:text="${detalleventa.Descuento}" />      
							 
							 <td> <a th:href="@{/detalleventa/agregardv/} + ${detalleventa.id}" th:text="'Editar'" class="btn btn-primary btn-xs" >
							 </a>
							 </td>      
							 <td> 
							 <a th:href="@{/detalleventa/eliminar/} + ${detalleventa.id}" th:text="'Eliminar'" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro?')" >
							 </a>
							 </td>   
						 </tr>  
					</tbody> 
			</table> 
		</div> 
	 
			<a th:href="@{/detalleventa/agregardv}">Crear Venta</a> 
	 
	</body> 
</html>