<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Beauty Salon</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<center><h2>Menu Beauty Salon</h2></center>
	<ul>
		<li>
			<a href="/proveedor/listar">Proveedor </a>
			
		</li>
		<li>
			<a href="/compra/compra">Compras </a>
		</li>
		
		<li>
		<a href="/inventario/inventario">Inventario </a>
			
		</li>
		
		<li>
		<a href="/producto/producto">Productos </a>
			</li>
		<li>
			<a href="/venta/venta">Ventas </a>
			
		</li>
		<li>
			<a href="/detalleventa/detalleventa">Detalle de Ventas </a>
		</li>
	</ul>
</body>
</html>